### Create

The Create stage is made up of several categories:

<%= partial("direction/categories-content", :locals => { :stageKey => "create" }) %>

#### Pricing

The Create stage pricing strategy balances the needs of individual contributors, with the needs of enterprises, to create a cycle where individual contributors gladly and rapidly adopt GitLab, and naturally create the business case for upgrading to a suitable tier, typically Premium and above. The core pillar of the Create stage is the merge request based development workflow. This touches Source Code Management, Code Review, Gitaly and the Web IDE, and is heavily influenced by individual developers, and managers who implement access controls for efficiency, quality and compliance purposes. Our investment and pricing philosophy is to:

- invest in the Core/Free tier to drive adoption by individual contributors like developers and designers
- growth drives the adoption of Premium/Silver to provides more control to managers and administrators
- happy individual contributors and managers/directors/executives, drives expansion of more users and cross-stage efficiency with Ops, Secure and Defend

##### Core/Free

The tier for **individual contributors, personal projects, or small teams trialing GitLab**, Core/Free is important for expanding (measured by GMAU and SMAU) the number of contributors in GitLab to include designers (Design Management), and marketers (Static Site Editor), and retaining our core users Developers (SCM, Code Review, Web IDE). Expanding support for different markets and use cases through improved binary file and monolithic repository workflows begins at the individual contributor level, as does supporting new personas like designers and marketers.

Examples:

- Enhanced code review experience include [code intelligence](https://gitlab.com/groups/gitlab-org/-/epics/1576)
- Partial Clone for binary file workflows like video games ([epic](https://gitlab.com/groups/gitlab-org/-/epics/773))
- [Web IDE](/direction/create/web_ide/)
- [Design Management](/direction/create/design_management/)
- [Static Site Editor](/direction/create/static_site_editor/)

##### Starter/Bronze

The tier for **Managers of small teams, small start ups**, Starter/Bronze is already a very capable tier and not a focus for investment.

Many features our competitors market in this tier already exist in the Core/Free version of GitLab.

##### Premium/Silver

The tier for **Directors at medium and large enterprises, or organizations with multiple teams**, Premium/Silver is enterprise ready and delivers important access controls and workflow controls needed for multiple teams to collaborate on the same large project. The Premium tier features for Source Code Management, Code Review and Gitaly are already mature, and very valuable to medium and large enterprises. Many feature requests and improvements driven by Premium/Silver customers are improvements to the experience of individual developers, which facilitates growth through expansion and standardization on GitLab.

Examples:

- [Gitaly Cluster](https://docs.gitlab.com/ee/administration/gitaly/praefect.html) for performance and availability
- [Sectional code owners](https://gitlab.com/groups/gitlab-org/-/epics/3593)
- [Snippets permissions](https://gitlab.com/groups/gitlab-org/-/epics/3436)

##### Ultimate/Gold

The tier for **Executive buyers with strategic objects for their business**, this tier is primarily supported through Audit and Compliance capabilities that extend project level access control features.

At present there are no Ultimate features planned for implementation by groups in the Create stage. This is due to support from the Manage stage, and demand from new and existing customers being focused on the individual developer experience, or access controls that meet the Premium/Silver tier definition.
